# ERP API
ERP_ENABLED=true
ERP_API_BASE_URL=https://gwa.jem-techno.co.kr
ERP_API_CALLER_NAME=
ERP_API_ACCESS_TOKEN=
ERP_API_HASH_KEY=
ERP_API_GROUP_SEQ=
ERP_COMPANY_CODE=1000
ERP_DIVISION_CODE=1000
ERP_DEFAULT_DEPT_CODE=0630
ERP_DEFAULT_EMP_CODE=20240601

# 이메일
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Django
DJANGO_SECRET_KEY=
DJANGO_ENV=production
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=
